@using TechBlog.Ultilities;
@model TechBlog.Models.User;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h3 class="text-center">Thêm mới người dùng</h4>
</div><!-- End Page Title -->

<section class="section mt-4">
    <div class="row mt-3">
        <div class="col-md-1"></div>
        <div class="form-addnew col-md-10 d-flex">
        <div class="col-md-8">
            <form asp-action="Create" class="row" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <label for="inputName5" class="form-label">Họ và tên</label>
                    <input type="text" asp-for="FullName" placeholder="Nguyễn Tạ Quyền..." class="form-control">
                    <span class="text-danger">@TempData["FullNameRequired"]</span>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress5" class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="quyen@gmail.com">
                    <span class="text-danger">@TempData["EmailRequired"]</span>
                    <span class="text-danger">@TempData["EmailExits"]</span>
                </div>
                <div class="col-md-12">
                    <label for="inputAddress5" class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="Address" placeholder="36, Lê Lợi, Thành phố Vinh, Nghệ An">
                    <span class="text-danger">@TempData["AddressRequired"]</span>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Điện thoại</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="0867168266">
                        <span class="text-danger">@TempData["PhoneRequired"]</span>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Phân quyền</label>
                    <select class="form-control" asp-for="RoleId">
                        <option value="2">Cộng tác viên</option>
                        <option value="1">Quản trị viên</option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label for="inputCity" class="form-label">Ảnh đại diện</label>
                    <input asp-for="Avatar"
                           name="avatar"
                           value=""
                           type="file"
                           class="form-control image-input"
                           onchange="document.getElementById('imagePreview').src=window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>

                <div class="mt-5">
                    <button type="submit" class="btn btn-primary">Thêm mới ngay</button>
                    <a class="btn mx-3 btn-secondary" asp-action="Index" asp-controller="Account" asp-area="Admin">Hủy bỏ</a>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="avt-box px-4">
                <img id="imagePreview" src="~/admin/assets/img/avatar-default.jpeg" style="width:100%" />
            </div>
        </div>
    </div>
    </div>

</section>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".statesSelect").select2();
        });
    </script>
}