@model TechBlog.Models.User;
@{
    ViewData["Title"] = "Register";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/Admin/assets/img/favicon.png" rel="icon">
  <link href="~/Admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/Admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/Admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/Admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/Admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="~/Admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="~/Admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/Admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/Admin/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="~/Admin/assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Đăng kí tài khoản</h5>
                    <p class="text-center small">Đăng kí tài khoản để sử dụng</p>
                  </div>

                                    <form id="formAuthentication" asp-action="Register" asp-controller="Account" class="mb-3" method="POST">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label for="fullname" class="form-label">Họ và tên</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           asp-for="FullName"
                                                           placeholder="Enter your name"
                                                           autofocus />
                                                    <p class="text-danger">@TempData["FullNameRequired"]</p>
                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="email" class="form-control" asp-for="Email" placeholder="Enter your email" />
                                                    <p class="text-danger">@TempData["EmailRequired"]</p>
                                                    <p class="text-danger">@TempData["EmailExists"]</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3 form-password-toggle">
                                                    <label class="form-label" for="password">Mật khẩu</label>
                                                    <div class="input-group input-group-merge">
                                                        <input type="password"
                                                               id="password"
                                                               class="form-control"
                                                               asp-for="Password"
                                                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                               aria-describedby="password" />
                                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                                    </div>
                                                    <p class="text-danger">@TempData["PasswordRequired"]</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3 form-password-toggle">
                                                    <label class="form-label" for="AgainPass">Nhập lại mật khẩu</label>
                                                    <div class="input-group input-group-merge">
                                                        <input type="password"
                                                               id="AgainPass"
                                                               class="form-control"
                                                               name="AgainPass"
                                                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                               aria-describedby="AgainPass" />
                                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                                    </div>
                                                    <p class="text-danger">@TempData["AgainPassError"]</p>
                                                    <p class="text-danger">@TempData["AgainPassRequired"]</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label for="username" class="form-label">Địa chỉ</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           asp-for="Address"
                                                           placeholder="Enter your name"
                                                           autofocus />
                                                    <p class="text-danger">@TempData["AddressRequired"]</p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3">

                                                    <label for="email" class="form-label">Điện thoại</label>
                                                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter your email" />
                                                    <p class="text-danger">@TempData["PhoneNumberRequired"]</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center mt-3">
                                            <button class="btn btn-primary px-5">Đăng kí ngay</button>
                                        </div>
                                    </form>
                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/Admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="~/Admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/Admin/assets/vendor/chart.js/chart.min.js"></script>
  <script src="~/Admin/assets/vendor/echarts/echarts.min.js"></script>
  <script src="~/Admin/assets/vendor/quill/quill.min.js"></script>
  <script src="~/Admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="~/Admin/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="~/Admin/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="~/Admin/assets/js/main.js"></script>

</body>

</html>