@using PagedList.Core.Mvc;
@using TechBlog.Ultilities;
@model PagedList.Core.IPagedList<TechBlog.Models.Post>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h3 class="text-center">Bài viết đã bị xóa</h3>
</div>

<section class="section dashboard">
    <div class="card mt-3">
        <div class="card-body">
            <div class="action-box text-start px-2 my-3">
                <a class="mx-3" asp-controller="Post" asp-action="Index" asp-area="Admin"> Quay lại </a>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr class="text-nowrap text-center">
                            <th class="text-center">Hình ảnh</th>
                            <th>Tên bài viết</th>
                            <th>Tiêu đề</th>
                            <th>Thuộc danh mục</th>
                            <th>Hiển thị</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="10" class="text-center text-danger">
                                    <p style="font-size: 20px">Không có bài viết nào còn lại trong thùng rác</p>
                                    <a asp-controller="Post" asp-action="Index" asp-area="Admin">Quay lại danh sách bài viết.</a>
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <th scope="row" class="text-center">
                                    <img src="~/images/@item.PostImage" width="100px" />
                                </th>
                                <td style="white-space: normal">
                                    <div style="width: 200px; word-wrap: break-word;">@item.PostName</div>
                                </td>
                                <td style="white-space: normal">
                                    <div style="width: 250px; word-wrap: break-word;">@item.PostTitle</div>
                                </td>
                                <td style="white-space: normal">
                                    <div style="width: 200px; word-wrap: break-word;">@item.Category.CategoryName</div>
                                </td>
                                <td>@item.IsActive</td>
                                <td>
                                    <button class="btn px-2 text-white btn-warning" onclick="HienThiModalKhoiPhuc(@item.PostId)" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="bottom" data-bs-html="true" title="" data-bs-original-title="<span>Khôi phục</span>">
                                        <i class="tf-icons bx bx-pen"></i>
                                    </button>
                                    <button class="btn px-2 text-white btn-danger" onclick="DisplayDeleteModal(@item.PostId)" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="bottom" data-bs-html="true" title="" data-bs-original-title="<span>Xóa vĩnh viễn</span>">
                                        <i class="tf-icons bx bx-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div aria-label="Page navigation example" class="text-center mt-3 align-items-center">
                <ul class="pagination text-center d-inline-block">
                    <pager class="pager-container" list="@Model" asp-route-RoleID="@ViewBag.RoleID" asp-area="Admin" asp-controller="Post" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa bài viết</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="TourIdToDelete" />
                    Bạn có chắc chắn muốn xóa bài viết này không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="btnConfirmDelete" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="KhoiPhuc" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận khôi phục bài viết đã bị xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="IdKhoiPhuc" />
                    <p>Bạn có chắc chắn muốn khôi phục lại bài viết này không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="XacNhanKhoiPhuc" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.querySelectorAll('[rel="prev"]')[0].innerHTML = "<"
    document.querySelectorAll('[rel="next"]')[0].innerHTML = ">"
</script>


@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#btnConfirmDelete").on("click", function () {
                let IdToDelete = $("#IdToDelete").val();
                let UrlHandle = "/Admin/Post/Delete";

                /* $.ajax({
                    url: UrlHandle,
                    type: "Post",
                    data: {
                        IdToDelete: IdToDelete,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $("#deleteModal").modal("hide");
                            window.location.reload();
                        } else {
                            // $("#deleteModal").modal("hide");
                            // window.location.reload();
                        }
                    },
                })*/
            });
            $("#XacNhanKhoiPhuc").on("click", function () {
                let IdKhoiPhuc = $("#IdKhoiPhuc").val();
                let UrlHandle = "/Admin/Post/KhoiPhuc";

                $.ajax({
                    url: UrlHandle,
                    type: "Post",
                    data: {
                        IdKhoiPhuc: IdKhoiPhuc,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $("#deleteModal").modal("hide");
                            window.location = "/Admin/Post";
                        } else {
                            // $("#deleteModal").modal("hide");
                            // window.location.reload();
                        }
                    },
                })

            });
        });

    </script>
    <script type="text/javascript">
        function DisplayDeleteModal(id) {
            $("#IdToDelete").val(id);
            $("#deleteModal").modal("show");
        }
        function HienThiModalKhoiPhuc(id) {
            $("#IdKhoiPhuc").val(id);
            $("#KhoiPhuc").modal("show");
        }
    </script>
}