@using PagedList.Core.Mvc;
@using TechBlog.Ultilities;
@model PagedList.Core.IPagedList<TechBlog.Models.Post>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h3 class="text-center">Quản lý bài viết</h3>
</div>

<section class="section dashboard">
    <div class="card mt-3">
        <div class="card-body">
            <div class="action-box text-end px-2 my-3">
                <a class="btn btn-danger mx-3" asp-controller="Post" asp-action="GoToTrash" asp-area="Admin"> Thùng rác </a>
                <a class="btn btn-primary" asp-controller="Post" asp-action="Create" asp-area="Admin">Thêm mới</a>
            </div>
            <div class="table-responsive post-table text-nowrap">
                <table class="table">
                    <thead>
                        <tr class="text-nowrap text-center">
                            <th class="text-center">Hình ảnh</th>
                            <th>Tên bài viết</th>
                            <th>Tiêu đề</th>
                            <th>Thuộc danh mục</th>
                            <th>Hiển thị</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <th scope="row" class="text-center">
                                    <img src="~/images/@item.PostImage" width="100px" />
                                </th>
                                <td style="white-space: normal">
                                    <div style="width: 200px; word-wrap: break-word;" class="d-flex align-items-center table-text-truncate">@item.PostName</div>
                                </td>
                                <td style="white-space: normal">
                                    <div style="width: 250px; word-wrap: break-word;" class="table-text-truncate">@item.PostTitle</div>
                                </td>
                                <td style="white-space: normal">
                                    <div style="width: 200px; word-wrap: break-word;">@item.Category.CategoryName</div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        @if (item.IsActive == true)
                                        {
                                            <input type="checkbox" class="ChangeActiveStatus" data-id="@item.PostId" id="Active-@item.PostId" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="ChangeActiveStatus" data-id="@item.PostId" id="Active-@item.PostId">
                                        }
                                    </div>
                                </td>
                                <td>
                                    <a class="btn px-2 text-white btn-warning" asp-action="Edit" asp-controller="Post" asp-route-id="@item.PostId"><i class="tf-icons bx bx-pen"></i></a>
                                    <button class="btn px-2 text-white btn-danger" onclick="DisplayDeleteModal(@item.PostId)"><i class="tf-icons bx bx-trash"></i> </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div aria-label="Page navigation example" class="text-center mt-3 align-items-center">
                <ul class="pagination text-center d-inline-block">
                    <pager class="pager-container" list="@Model" asp-route-RoleID="@ViewBag.RoleID" asp-area="Admin" asp-controller="Post" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa bài viết</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="IdToDelete" />
                    Bạn có chắc chắn muốn xóa bài viết này không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="btnConfirmDelete" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    document.querySelectorAll('[rel="prev"]')[0].innerHTML = "<"
    document.querySelectorAll('[rel="next"]')[0].innerHTML = ">"
</script>


@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#btnConfirmDelete").on("click", function () {
                let IdToDelete = $("#IdToDelete").val();
                let UrlHandle = "/Admin/Post/Delete";

                $.ajax({
                    url: UrlHandle,
                    type: "Post",
                    data: {
                        IdToDelete: IdToDelete,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            $("#deleteModal").modal("hide");
                            window.location.reload();
                        } else if(data.status == 1) {
                            alert("")
                        } else if (data.status == 2) {

                        } else if(data.status == 3) {

                        }
                    },

                })
            });
            $(".ChangeActiveStatus").on("change", function() {
                var IdToUpdate = $(this).data("id");
                $.ajax({
                    url: "/Admin/Post/UpdateActiveStatus",
                    type: "Post",
                    data: {
                        IdToUpdate: IdToUpdate,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            if (data.currentValue == true) {
                                $('#Active-' + IdToUpdate).prop('checked', true);
                                toastr.success("Đã cho bài viết hiển thị");
                            } else {
                                $('#Active-' + IdToUpdate).prop('checked', false);
                                toastr.success("Đã cho bài viết không hiển thị");
                            }
                        } else {
                            toastr.success("Đang bị lỗi, vui lòng quay lại sau");
                        }
                    },
                })
            });
        });

    </script>
    <script type="text/javascript">
        function DisplayDeleteModal(id) {
            $("#IdToDelete").val(id);
            $("#deleteModal").modal("show");
        }
    </script>
}